[global]
mon_host = {{ceph.ceph_mon_host}}
auth_cluster_required = {{ceph.authentication_type}}
auth_service_required = {{ceph.authentication_type}}
auth_client_required = {{ceph.authentication_type}}
auth_supported = {{ceph.authentication_type}}

[client]
rbd_default_features = 1
