[tripleo_ceph]
volume_backend_name=tripleo_ceph
volume_driver=cinder.volume.drivers.rbd.RBDDriver
rbd_ceph_conf=/etc/ceph/ceph.conf
rbd_user=wshed
rbd_pool=wshed_volumes
rbd_secret_uuid=cd0d33e2-9e44-489d-8b5c-53e4fcb9a8ad
backend_host=hostgroup
