[DEFAULT]
enable_v3_api = true
glance_api_servers = none
enabled_backends = {{ enabled_backends | join(",") }}
glance_api_version = 2
log_dir = /var/log/cinder
osapi_volume_listen = 0.0.0.0
scheduler_driver = cinder.scheduler.filter_scheduler.FilterScheduler
nova_catalog_info = compute:nova:internalURL
api_paste_config = /etc/cinder/api-paste.ini
transport_url = rabbit://{{ rabbitmq_user }}:{{rabbitmq_password }}@rabbitmq:5672/?ssl=0
public_bind_host = 0.0.0.0
auth_strategy = {{ auth_strategy }}

[oslo_messaging_notifications]
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@rabbitmq:5672/?ssl=0
driver = messagingv2

[database]
db_max_retries = -1
host = mariadb
max_retries = -1
connection = mysql+pymysql://{{ mariadb_root_user }}:{{ mariadb_root_password }}@mariadb:3306/{{ cinder_user }}
user = {{ cinder_user }}
password = {{ cinder_password }}
dbname = {{ cinder_user }}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

[oslo_policy]
policy_file = /etc/cinder/policy.json

[privsep_entrypoint]
helper_command = sudo cinder-rootwrap /etc/cinder/rootwrap.conf privsep-helper --config-file /etc/cinder/cinder.conf

{% if cinder_enable_iscsi_backend %}
[iscsi]
volume_backend_name=iscsi
volume_driver=cinder.volume.drivers.lvm.LVMVolumeDriver
iscsi_ip_address=iscsid
iscsi_helper=lioadm
volumes_dir=/var/lib/cinder/cinder-volumes
iscsi_protocol=iscsi
{% endif %}

{% if cinder_enable_xtremio_backend %}
{% include 'xtremio/cinder-annex.conf.j2' %}
{% endif %}

{% if cinder_enable_rbd_backend %}
{% include 'rbd/cinder-annex.conf.j2' %}
{% endif %}

{% if cinder_enable_netapp_backend %}
[netapp]
title = tripleo_netapp
netapp_login = {{netapp.netapp_login}}
netapp_password = {{netapp.netapp_password}}
netapp_server_hostname = {{netapp.netapp_server_hostname}}
{% endif %}
