[xtremio]
max_over_subscription_ratio = {{xtremio.max_over_subscription_ratio}}
use_multipath_for_image_xfer= {{xtremio.use_multipath_for_image_xfer}}
volume_backend_name=xtremio
volume_driver=cinder.volume.drivers.emc.xtremio.XtremIOISCSIDriver
san_ip={{xtremio.san_ip}}
xtremio_cluster_name={{xtremio.xtremio_cluster_name}}
san_login={{xtremio.san_login}}
san_password={{xtremio.san_password}}
image_volume_cache_enabled={{xtremio.image_volume_cache_enabled}}
